<component name="ArtifactManager">
  <artifact type="jar" name="springcloud-common:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/springcloud_common_jar</output-path>
    <root id="archive" name="springcloud-common.jar">
      <element id="module-output" name="springcloud-common" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/projectlombok/lombok/1.16.22/lombok-1.16.22.jar" path-in-jar="/" />
    </root>
  </artifact>
</component>